.height320 {
	height: 320px;
}

.height264 {
	height: 264px;
}

.height250 {
	height: 250px;
}

.height187 {
	height: 187px;
}

.height169 {
	height: 169px;
}

.height160 {
	height: 160px;
}

.height144 {
	height: 144px;
}

.height140 {
	height: 140px;
}

.height130 {
	height: 130px;
}

.height122 {
	height: 122px;
}

.height120 {
	height: 120px;
}

.height119 {
	height: 119px;
}

.height111 {
	height: 111px;
}

.height102 {
	height: 102px;
}

.height96 {
	height: 96px;
}

.height95 {
	height: 95px;
}

.height94 {
	height: 94px;
}

.height91 {
	height: 91px;
}

.height88 {
	height: 88px;
}

.height80 {
	height: 80px;	
}

.height79 {
	height: 79px;	
}

.height77 {
	height: 77px;
}

.height73 {
	height: 73px;
}

.height70 {
	height: 70px;
}

.height67 {
	height: 67px;
}

.height61 {
	height: 61px;
}

.height60 {
	height: 60px;
}

.height56 {
	height: 56px;
}

.height50 {
	height: 50px;
}

.height43 {
	height: 43px;
}

.height40 {
	height: 40px;
}

.height35 {
	height: 35px;
}

.height32 {
	height: 32px;
}

.height30 {
	height: 30px;
}

.height27 {
	height: 27px;
}

.height26 {
	height: 26px;
}

.height25 {
	height: 25px;
}

.height24 {
	height: 24px;
}

.height22 {
	height: 22px;
}

.height20 {
	height: 20px;
}

.height19 {
	height: 19px;
}

.height18 {
	height: 18px;
}

.height17 {
	height: 17px;
}

.height15 {
	height: 15px;
}

.height11 {
	height: 11px;
}

.height10 {
	height: 10px;
}

.height7 {
	height: 7px;
}

.height6 {
	height: 6px;
}

.height4 {
	height: 4px;
}

.height2 {
	height: 2px;
}

.width842 {
	width: 842px;
}

.width400 {
	width: 370px;	
}

.width359 {
	width: 359px;
}

.width298 {
	width: 298px;
}

.width280 {
	width: 280px;
}

.width276 {
	width: 276px;
}

.width250 {
	width: 250px;
}

.width236 {
	width: 236px;
}

.width230 {
	width: 230px;
}

.width215 {
	width: 215px;
}

.width200 {
	width: 200px;
}

.width192 {
	width: 192px;
}

.width187 {
	width: 187px;
}

.width170 {
	width: 170px;
}

.width160 {
	width: 160px;
}

.width150 {
	width: 150px;
}

.width148 {
	width: 148px;
}

.width140 {
	width: 140px;
}

.width136 {
	width: 136px;
}

.width130 {
	width: 130px;
}

.width121 {
	width: 121px;
}

.width120 {
	width: 120px;
}

.width115 {
	width: 115px;
}

.width110 {
	width: 110px;
}

.width100 {
	width: 100px;
}

.width84 {
	width: 84px;
}

.width80 {
	width: 80px;
}

.width79 {
	width: 79px;
}

.width50 {
	width: 50px;
}

.width47 {
	width: 47px;
}

.width40 {
	width: 40px;
}

.width34 {
	width: 34px;
}

.width30 {
	width: 30px;
}

.width28 {
	width: 28px;
}

.width27 {
	width: 27px;
}

.width20 {
	width: 20px;
}

.width17 {
	width: 17px;
}

.width15 {
	width: 15px;
}

.width14 {
	width: 14px;
}

.width11 {
	width: 11px;
}

.width10 {
	width: 10px;
}

.width7 {
	width: 7px;
}

.width6 {
	width: 6px;
}

tr.blue_line td {
	background-color: #92B6D8;
}

.blue {
	background-color: #92B6D8;
}

.al {
	text-align: left;
}

.ar {
	text-align: right;
}

.ac {
	text-align: center;
}

.fal {
	float: left;
}

.vam {
	vertical-align: middle;
}

.vab {
	vertical-align: bottom;
}

.vat {
	vertical-align: top;
}

/*white right border*/
.wrb {
	border-right: 1px solid #FFFFFF;
}

/*white left border*/
.wlb {
	border-left: 1px solid #FFFFFF;
}

/*white left border (2px) */
.wlb2 {
	border-left: 2px solid #FFFFFF;
}

/*white left and right border*/
.wlrb {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

/*dark blue dotted border-top*/
.dbdbt {
	/*border-top: 1px dotted #004370;*/
	background: transparent url(../images/dots.gif) left top repeat-x;
}

/*dark blue dotted border-bottom*/
.dbdbb {
	/*border-top: 1px dotted #004370;*/
	background: transparent url(../images/dots.gif) left bottom repeat-x;
}

/*dark blue dotted border-left*/
.dbdbl {
	/*border-left: 1px dotted #004370;*/
	background: transparent url(../images/dots.gif) left top repeat-y;
}

/*dark blue dotted border-right*/
.dbdbr {
	/*border-right: 1px dotted #004370;*/
	background: transparent url(../images/dots.gif) right top repeat-y;
}

.text26 {
	font-size: 26px;
}

.text24 {
	font-size: 24px;
}

.text21 {
	font-size: 21px;
}

.text18 {
	font-size: 18px;
}

.text16 {
	font-size: 16px;
}

.text14 {
	font-size: 14px;
}

.text13 {
	font-size: 13px;
}

.text12 {
	font-size: 12px;
}

.text11 {
	font-size: 11px;
}

.text10 {
	font-size: 10px;
}

.text9 {
	font-size: 9px;
}

.padRight15 {
	padding-right: 15px;
}

.padRight10 {
	padding-right: 10px;
}

.padLeft20 {
	padding-left: 20px;
}

.padLeft175 {
	padding-left: 175px;
}

.padLeft15 {
	padding-left: 15px;
}

.padLeft10 {
	padding-left: 10px;
}

.padTop15 {
	padding-top: 15px;
}

.padTop10 {
	padding-top: 10px;
}

.padBottom10 {
	padding-bottom: 10px;
}

.pad10 {
	padding: 10px;
}

.marginLeft430 {
	margin-left: 430px;
}

/* Colors: */
.dark_blue {
	color: #004370;
}

.light_blue {
	color: #699DD6;
}

.purple {
	color: #D62D6E;
}

.red {
	color: #FF0000;
}

.dark_gray {
	color: #525252;
}

.light_gray {
	color: #888888;
}

.white {
	color: #FFFFFF;
}

.green {
	color: #3CA22E;
}

.orange {
	color: #FFA800;
}

/* font styles */
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

/*links*/
a.dark_blue_link {
	color: #004370;
	text-decoration: underline;
}

a:HOVER.dark_blue_link {
	color: #004370;
	text-decoration: none;
}

a.dark_blue_link_trans {
	color: #004370;
	text-decoration: none;
}

a:HOVER.dark_blue_link_trans {
	color: #8FBDE6;
	text-decoration: none;
}

a.light_blue_link {
	color: #8FBDE6;
	text-decoration: underline;
}

a:HOVER.light_blue_link {
	color: #8FBDE6;
	text-decoration: none;
}

a.purple_link {
	color: #D62D6E;
	text-decoration: underline;
}

a:HOVER.purple_link {
	color: #D62D6E;
	text-decoration: none;
}

a.purple_link_trans, a:HOVER.purple_link_trans {
	color: #D62D6E;
	text-decoration: none;
}

a.spec_purple_link, a:HOVER.spec_purple_link {
	color: #D62D6E;
	text-decoration: none;
	cursor: text;
}

a.link_dsbl {
	color: #B2B2B2;
	text-decoration: none;
}

a:HOVER.link_dsbl {
	color: #8EBDE7;
	text-decoration: none;
}

a.dark_gray_link {
	color: #525252;
	text-decoration: none;
}

a:HOVER.dark_gray_link {
	color: #8EBDE7;
	text-decoration: none;
}

a.full_link {
	display: block;
	width: 100%;
	height: 100%;
}

a.gray_link {
	color: #B2B2B2;
	text-decoration: none;
}

a:HOVER.gray_link {
	color: #B2B2B2;
	text-decoration: none;
}

.font1 {
	font-family: Tahoma, Arial, sans-serif;	
}

.cp {
	cursor: pointer;
	cursor: hand;
}

.lh20 {
	line-height: 20px;
}

.lh15 {
	line-height: 15px;
}

/* Forms design */
input.text {
	height: 20px;
	border: 1px solid #C5C4C4;
}

.hand {
	cursor: pointer;
	cursor: hand;
}

.move {
	cursor: move;
}
.stepTitle {
	padding-top: 5px;
	float: left;
}