
/*createWeb*/
/* ======  Menu ====== */
/*First level menu start*/
ul.menu{
	width:1090px;
	float:left;
	display: block;
	list-style: none;
	margin:0;
	padding: 0;
	font:15px Verdana, Geneva, sans-serif;
	text-align:left;
}
ul.menu li {
	background:url(/image/front/point-grey.png) 0 0 no-repeat;
	display: block;
	position:relative;
	float:left;
	height:29px;
	margin: 0;
	padding:0;
	cursor: pointer;
	cursor: hand;
}
ul.menu li.stepPrev{
	background:url(/image/front/point-blue.png) 0 0 no-repeat;
	padding-right:20px;
}
ul.menu li.stepNext{
	background:url(/image/front/point-blue.png) top right no-repeat;
	float:right;
	text-align:right;
}
ul.menu li.item_selected, 
ul.menu li.item_over{
	background:url(/image/front/point-pink.png) 0 0 no-repeat;
}
ul.menu li.stepGrey{
	background:url(/image/front/point-grey.png) 0 0 no-repeat;
	cursor:default;
}
ul.menu li.stepNext{
	background-position:top right;
	text-align:right;
}
ul.menu li a{
	display: block;
	padding:3px 10px 0 0;
	color:#fff;
	text-decoration: none;	
}
ul.menu li.item_over a, 
ul.menu li.item_selected a{
	color:#fff;
	text-decoration: none;
}
ul.menu li a img{
	background:none;
	margin:1px 0 0 10px;
}
ul.menu li.item_over a img, 
ul.menu li.item_selected a img{
	background:url(/image/front/arrow.gif) 0 0 no-repeat;
}
ul.menu li.stepNext a{
	padding-right:38px;
}
ul.menu li.stepPrev a {
	padding-left:38px;
}
ul.menu li.stepPrev a img{
	background:none;
	position:absolute;
	left:-10px;
	top:0;
}
ul.menu li.stepNext a img{
	background:none;
	position:absolute;
	right:0;
	top:0;
}
ul.menu li.stepGrey a img{
	background:none;
}
ul.menu li.stepGrey a{
	cursor:default;
}

ul.menu li a span{
	display:block;
	float:left;
	padding:1px 18px 0 9px;
	font-weight:bold;
}
/*First level menu end*/

/*Second level menu start*/
ul.menuSecond{
	display: block;
	list-style: none;
	margin:0;
	padding:6px 0 10px 18px;
	font:12px Tahoma, Arial, Helvetica, sans-serif;
	text-align:left;
}
ul.menuSecond li {
	width:185px;
	margin:0;
	padding:4px 0 5px 0;
	cursor: pointer;
	cursor: hand;
	overflow:hidden;
}
ul.menuSecond li.item_selected, 
ul.menuSecond li.item_over{
}
ul.menuSecond li a {
	color:#000;
	text-decoration: none;	
}
ul.menuSecond li.item_over a, 
ul.menuSecond li.item_selected a{
	color:#ff9927;
	text-decoration: underline;
}
/*Second level menu end*/
/*--------------------createWeb end--------------------------*/