<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="autodetect" default-dependency-check="none">

	<bean name="/jsp/help/Upgrade" class="com.lti.action.help.UpgradeAction" singleton="false"/>
	
	
</beans>
