<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="autodetect" default-dependency-check="none">
	<bean name="/jsp/admin/factors/UploadFactorsFile" class="com.lti.action.admin.factors.UploadFactorsFileAction"	singleton="false"/>
	<bean name="/jsp/admin/factors/DownloadFactorsFile" class="com.lti.action.admin.factors.DownloadFactorsFileAction"	singleton="false"/>	
</beans>
