<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="autodetect" default-dependency-check="none">
	<bean name="/jsp/jforum" class="com.lti.action.jforum.MainAction"
		singleton="false">
		<property name="userManager">
			<ref bean="userManager"/>
		</property>
		<property name="customizeRegionManager">
			<ref bean="customizeRegionManager"/>
		</property>
	</bean>
	<bean name="/jsp/jforum/post" class="com.lti.action.jforum.PostAction"
		singleton="false">
		<property name="strategyManager">
			<ref bean="strategyManager"/>
		</property>
	</bean>
</beans>
