<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="autodetect" default-dependency-check="none">

	<bean name="/jsp/example/Test" class="com.lti.action.example.TestAction" singleton="false"/>
	
	<bean name="/jsp/example/TestValidate" class="com.lti.action.example.TestValidationAction" singleton="false"/>
	
</beans>
