/* ȫCSS */
body{font-family:;margin:0 auto;padding:0;font-size:12px;color:#000; background:#F0F6FA url(/image/front/bg.gif) no-repeat top center;}

body > div{margin:0 auto;} 
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
dl,dt,dd{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input{font-size:12px}
h1 { display:none;}
h2 { font-size:12px;}
h5 { font-size:16px; color:#FBFBFB; font-weight:bold;}
.dle { clear:both;}


a{ outline-style:none; color:#000; text-decoration:none}
a:hover{ color:#c00; text-decoration:underline;}

.font1 { color:#444; line-height:22px;}
.font2 { color:#999; line-height:24px;}
.font_red12 { color:#ff0000; line-height:24px;}
.font_green12 { color:#006600; line-height:24px;}

.font2  a{ color:#999;text-decoration: underline;}
.font2  a:hover{text-decoration:underline; color:#000;}
.font3 { font-family: "黑体"; font-size:20px; color:#DF904C;}
.font4 { color:#666; line-height:24px; font-size:14px;}
.font4  a{ color:#4779B1;text-decoration: underline;}
.font4  a:hover{text-decoration:underline; color:#c00;}
.font5 { color:#4779B1; line-height:24px; font-weight:bold;}
.font5  a{ color:#4779B1;text-decoration: none;}
.font5  a:hover{text-decoration:underline; color:#c00;}
.font6 { line-height:30px; color:#666;}
.font6 span { font-size:14px; color:#4779B1;}
.font7 { line-height:36px; color:#4779B1;}
.font8 { color:#666; line-height:24px;}
.font8  a{ color:#4779B1;text-decoration: none;}
.font8  a:hover{text-decoration:underline; color:#c00;}
.font9 { color:#DF904C;}
.font10 { color:#444;}
.font11 { line-height:26px;}
.font11 a{ color:#444;text-decoration: underline;}
.font11 a:hover{text-decoration:underline; color:#c00;}
.font12 { color:#4779B1;}
.font13 { color:#4779B1; font-size:14px; line-height:22px;}
.font14 { font-size:14px; color:#D46912;}
.font15 { color:#DF904C; line-height:24px;}
.font16 { color:#666; line-height:24px; font-size:12px;}
.font16  a{ color:#4779B1;text-decoration: underline;}
.font16  a:hover{text-decoration:underline; color:#c00;}
.font17 { color:#666; line-height:24px; font-size:14px;}
.font17  a{ color:#4779B1;text-decoration: underline;}
.font17  a:hover{text-decoration:underline; color:#c00;}
.font18 { color:#BC2406; line-height:16px;}

#warp { width:780px; margin:0 auto; padding-bottom:10px;}
#warp .blank16 {clear:both;display:block;height:16px;overflow:hidden;}
#warp .blank24 {clear:both;display:block;height:24px;overflow:hidden;}
#warp .tag { height:51px; background:url(/image/front/tag_bg1.gif) no-repeat;}
#warp .tag1 { height:51px; background:url(/image/front/tag_bg2.gif) no-repeat;}
#warp .tag2 { height:51px; background:url(/image/front/tag_bg3.gif) no-repeat;}

#warp #container { width:780px; margin:0 auto; border:1px solid #D6D6D6; background-color:#FFF; padding:0;}

#warp #container .left { width:207px; float:left; border:1px solid #BFDAF8;}
#warp #container .left .tit { height:32px; background:url(/image/front/tit_bg1.gif) no-repeat;}
#warp #container .left .tit h2 { font-weight:bold; color:#444; padding:12px 0 0 12px;}
#warp #container .left .list { padding:6px 12px 8px 12px;}
#warp #container .left .list .tool1 { height:19px; padding:11px 0 0 28px; background:url(/image/front/tit_bg2_1.gif) no-repeat; color:#4779B1;}
#warp #container .left .list .tool1 a{ color:#4779B1;text-decoration: none;}
#warp #container .left .list .tool1 a:hover{text-decoration:underline; color:#c00;}
#warp #container .left .list .tool2 { height:19px; padding:11px 0 0 28px; background:url(/image/front/tit_bg2_2.gif) no-repeat; color:#666;}
#warp #container .left .list .tool2 a{ color:#666;text-decoration: none;}
#warp #container .left .list .tool2 a:hover{text-decoration:underline; color:#c00;}
#warp #container .left .list .tool3 { height:101px; padding:10px 0 0 12px; line-height:24px; background:url(/image/front/tit_bg2_3.gif) no-repeat; color:#666;}
#warp #container .left .list .tool3 span { color:#4779B1;}
#warp #container .right { width:554px; float:right; border:1px solid #EBEBEB; background-color:#FFF;}

#warp #container .left1 { width:212px; float:left; background:#FFF url(/image/front/left_bg1.gif) left top no-repeat;}
#warp #container .left1 .tit { height:35px; padding:26px 0 0 82px; font-size:14px; font-weight:bold; color:#003055;}
#warp #container .left1 .list { height:366px; background:url(/image/front/left_bg2.gif) left top no-repeat; padding:12px 0 0 36px;}
#warp #container .left1 .list a{ color:#266392;text-decoration: none; font-weight:bold;}
#warp #container .left1 .list a:hover{text-decoration:underline; color:#FF6000;}
#warp #container .left1 .list .con1 { height:41px; line-height:18px; color:#868686; padding-top:9px;}
#warp #container .left1 .list .con2 { padding:10px 0 0 15px; line-height:22px; color:#000;}
#warp #container .left1 .list .con2 span { font-weight:bold;}
#warp #container .tiaok { line-height:24px; color:#666;}
#warp #container .tiaok p { padding:14px 0; border-bottom:1px dashed #D4D4D4;}
#warp #container .tiaok span { font-weight:bold; color:#444;}
#warp .dengl { height:239px; border:1px solid #EBEBEB; background:url(/image/front/dengl_bg.gif);}


.foot { width:780px; margin:0 auto; border-top:1px solid #D4D4D4; line-height:24px; color:#444; text-align:center; padding:8px 0 6px 0;}
.foot a{ color:#444;text-decoration: none;}
.foot a:hover{text-decoration:underline; color:#c00;}

.teat1 { width:220px; height:19px; border:1px solid #D6D6D6; padding-top:6px; color:#785B00; font-family:Arial; font-size:14px;}
.teat2 { width:80px; height:19px; border:1px solid #D6D6D6; padding-top:6px; color:#785B00; font-family:Arial; font-size:14px;}
.teat3 { width:350px; height:19px; border:1px solid #D6D6D6; padding-top:6px; color:#785B00; font-family:Arial; font-size:14px;}
.teat4_1 { width:60px; height:19px; border:1px solid #D6D6D6; padding-top:6px; color:#785B00; font-family:Arial; font-size:14px;}
.teat4_2 { width:128px; height:19px; border:1px solid #D6D6D6; padding-top:6px; color:#785B00; font-family:Arial; font-size:14px;}
.teat5 { width:210px; height:19px; border:1px solid #D6D6D6; padding-top:6px; color:#785B00; font-family:Arial; font-size:14px;}
.teat6 { width:60px; height:14px; border:1px solid #D6D6D6; padding-top:6px; color:#D6D6D6; font-family:Arial; font-size:12px;}
.teat7 { width:150px; height:20px; border:1px solid #D6D6D6; padding-top:6px; color:#785B00; font-family:Arial; font-size:14px;}