/* Content styles */
.contentStyle , .contentStyle td, .contentStyle th{
	background: transparent;
	font: 15px Arial, Helvetica, sans-serif;
	color:#525252;
	line-height:22px;
}
.contentStyle a {
	color:#65A1BE;
	text-decoration:underline;
}
.contentStyle a.purple,.contentStyle a.purple:hover{
	color:#d62d6e;
	text-decoration:none;
}
.contentStyle a:hover {
	color: #216B8F;
}
.contentStyle h1{
	font: bold 14px  Verdana, Arial, Helvetica, sans-serif;
	color:#049731;
	margin:0 0 17px 0;
	padding:0;
}
.contentStyle h2{
	font: bold 13px Arial, Helvetica, sans-serif;
	color:#cc0066;
	margin:0 0 15px 0;
	padding:0;
}
.contentStyle h3{
	font: bold 13px Arial, Helvetica, sans-serif;
	color:#0e1c62;
	margin:0 0 15px 0;
	padding:0;

}
.contentStyle h3.tp_btn{
	cursor:pointer;
	cursor:hand;
}

.contentStyle h3.tp_btn:hover{
	color:#cc0066;
}
.contentStyle p{
	margin: 0px 0px 13px 0px;
}

/* Links */

/* Aligns */
.bl-left { float: left; }
.bl-right {	float: right; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }

.logos{
	position:absolute;
	bottom:10px;
	margin:0 0 0 10px
}
.logos img{
	margin:0 10px;
}

/* Spacing */
.nowrap { white-space: nowrap; }

/* Background */
.bg_white {	background-color: white; }

/* Forms */
input {
   background-color:#fff;
	height: 18px;
	border: 1px solid #ccc; 
	margin: 0;
	padding:0 3px 0 3px;	
	vertical-align: top;
	font:13px Arial, Helvetica, sans-serif;
	line-height: 18px;
	color:#525252;
}

textarea{
   background-color:#fff;
	border: 1px solid #818181; 
	margin: 0;
	vertical-align: top;
	font:12px Arial, Helvetica, sans-serif;
}
select{
	font:13px Arial, Helvetica, sans-serif;
	line-height: 18px;
	color:#525252;
}

input.form_radio {
    background-color:Transparent;
    cursor: pointer;
    border: none;
}

input.form_checkbox {
    background-color:Transparent;
    cursor: pointer;
    border: none;
}

input.text{
	width: 190px;
}
input.width350{
	width:350px;
}

.submit, input.submit,.form_submit {
	background:#002181;
	height: 20px;
	border: solid 1px #818181;
	padding:0 10px 0 10px;	
	cursor: pointer;
	cursor: hand;
	color: #ffffff;
	font-weight: bold;
	text-align:center;
}
.inputDomain{
	background:#fff url(/image/front/bg-input.gif) 0 0 no-repeat;
	height:28px;
	border:0 none;
	border-right:1px solid #d6d6d6;
	padding:0 5px 0 11px;
	font:14px Verdana, Geneva, sans-serif;
	line-height:28px;
	color:#0b0b0b;
}

.submit_disable, input.submit_disable {
	background-color: #7F1517;
	height: 21px;
	border: solid 1px #818181;
	cursor: pointer;
	cursor: hand;
	color: #929292;
	font-weight: bold;
}

button, input[type='submit'], input[type='button']   {
    cursor:pointer;
}


.contentStyle div.customerBtn,
.contentStyle div.customerBtnPink{
	background:#123c85 url(/image/front/btn.gif) top right no-repeat;
	float:left;
	height:29px;
	padding:0 3px 0 0;
}
.contentStyle div.customerBtn input,
.contentStyle div.customerBtnPink input{
	background:url(/image/front/btn-left.gif) 0 0 no-repeat;
	float:left;
	height: 27px;
	line-height: 27px;
	border: 0 none; 
	vertical-align: top;
	font:bold 13px Arial, Helvetica, sans-serif;
	margin: 0;
	padding:0 10px 0 8px;	
	color:#fff;
}
.contentStyle div.customerBtnPink{
	background:url(/image/front/btn-pink.gif) top right no-repeat;
}
.contentStyle div.customerBtnPink input{
	background:url(/image/front/btn-left-pink.gif) 0 0 no-repeat;}

.contentStyle div.customerBtnPink2{
	background:url(/image/front/btn-pink2.gif) top right no-repeat;
	float:left;
	height:28px;
	padding:0;
}
.contentStyle div.customerBtnPink2 input{
	background:url(/image/front/btn-left-pink2.gif) 0 0 no-repeat;
	float:left;
	height: 28px;
	border: 0 none; 
	vertical-align: top;
	font:14px Verdana, Geneva, sans-serif;
	line-height: 28px;
	text-transform:uppercase;
	margin: 0;
	padding:0 10px 0 8px;	
	color:#fff;
}

.contentStyle div.customerBtnPinkBig{
	background:url(/image/front/big-purple-btn.png) top right no-repeat;
	float:left;
	height:61px;
	padding:0;
}
.contentStyle div.customerBtnPinkBig input{
	background:url(/image/front/big-purple-btn-left.png) 0 0 no-repeat;
	float:left;
	height: 61px;
	border: 0 none; 
	vertical-align: top;
	font:bold 14px KorinnaBlackCTT, sans-serif;
	font:bold 14px Rockwell Extra Bold, Helvetica, sans-serif;
	line-height: 61px;
	text-transform:uppercase;
	margin: 0;
	padding:0 10px 0 8px;	
	color:#fff;
}
	


.contentStyle div.customerBtnGrey,
.contentStyle div.customerBtnBlue{
	background:#535353 url(/image/front/btn-grey.png) top right no-repeat;
	float:left;
	height:45px;
	padding:0 3px 0 0;
	font:bold 13px Arial, Helvetica, sans-serif;
	line-height: 43px;
	text-align:center;
}
.contentStyle div.customerBtnBlue{
	background:#224f98 url(/image/front/btn-blue.png) top right no-repeat;
}
.contentStyle div.customerBtnGrey span,
.contentStyle div.customerBtnBlue span{
	background:url(/image/front/btn-left-grey.png) 0 0 no-repeat;
	display:block;
	float:left;
	height: 45px;
	padding:0 10px 0 8px;	
	color:#fff;
	text-decoration:none;
}
.contentStyle div.customerBtnBlue span{
	background:url(/image/front/btn-left-blue.png) 0 0 no-repeat;
}
.contentStyle .btnVisualize:hover div.customerBtnGrey{
	background: url(/image/front/btn-blue.png) top right no-repeat;
}
.contentStyle .btnVisualize:hover div.customerBtnGrey span{
	background:url(/image/front/btn-left-blue.png) 0 0 no-repeat;
}
.wBtnVizual{
	width:190px;	
}
/**/
.btnVisualize{
	position:relative;
	width:auto;
	height:108px;
	padding:15px 0 0 0;
	cursor:pointer;
	cursor:hand;
	z-index:10;
}
.btnVisualizeLeft{
	margin:0 -65px 0 0;
	float:left;
	width:300px;
}

.contentStyle .btnVisualizeRight{
	margin:0 0 0 -60px;
	float:left;
	width:300px;
}
.contentStyle .btnVisualizeRight .btnVisualize{	
}
.contentStyle .btnVisualizeRight  div.customerBtnGrey,
.contentStyle .btnVisualizeRight  div.customerBtnBlue{
	float:right;
}


.btnVisualize .arrow{
	position:relative;	
}
.arrowRight1{
	float:left;
}

.visualizeTemplate{
	position:relative;
	width:625px;
	height:480px;	
	float:left;
	z-index:1;
	overflow:hidden;
}

.sitePreviewIframe{	
   -moz-transform: scale(0.59, 0.59) translate(-34%, -34%);
   xwebkit-transform: scale(0.79, 0.79) translate(2%, -10%);
   -webkit-transform: scale(0.60, 0.60) translate(0, 0);
	-webkit-transform-origin: 0 0;
   -o-transform: scale(0.59, 0.59) translate(-34%, -34%);
   transform: scale(0.59, 0.59) translate(-34%, -34%);
   border: 1px solid #fff;   
	zoom: 59%;
}
.sitePreviewIframeWider{
	width:1300px;
	height:930;
   -moz-transform: scale(0.52, 0.52) translate(-49%, -49%);
   -webkit-transform: scale(0.49, 0.49) translate(5%, -10%);
	-webkit-transform-origin: 0 0;
   -o-transform: scale(0.52, 0.52) translate(-49%, -49%);
   transform: scale(0.52, 0.52) translate(-49%, -49%);
	zoom: 51%;
	margin-top:40px;
}
	
	
.menuType{
	margin:20px 0 20px 0;
	text-align:center;
}
.menuType a{
	text-decoration:none;
}
.menuType a:hover h3{
	color:#cc0066	
}
.menuType a h3.active{
	color:#cc0066	
}
.contentStyle .tableLogon{
	margin-bottom:20px;
}
.contentStyle .tableLogon td{
	height:40px;
}

.contentStyle .goLive td{
	xborder-bottom:1px solid #e7e6e6;
	padding:3px;
}

.contentStyle .factuurTable{
	border-bottom: solid 1px #818181;
}
.contentStyle .factuurTable thead th{
	background-color:#eeeeee;
	border-top: solid 1px #818181;
	border-left: solid 1px #818181;
	padding:5px;
}

.contentStyle .factuurTable td{
	border-top: solid 1px #818181;
	border-left: solid 1px #818181;
	padding:5px;
}
.activateLoginBox{
	margin:0 0 0 10px;
}

.contentStyle .tableLogonTd{
	padding-right:5px;
	text-align:right;
}