<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="autodetect" default-dependency-check="none">
	<bean name="/jsp/fundcenter/performance" class="com.lti.action.fundcenter.PerformanceAction"
		singleton="false">
		<property name="securityManager">
			<ref bean="securityManager"/>
		</property>
		<property name="userManager">
			<ref bean="userManager"/>
		</property>
		<property name="portfolioManager">
			<ref bean="portfolioManager"/>
		</property>
	</bean>
	<bean name="/jsp/fundcenter/details" class="com.lti.action.fundcenter.DetailsAction"
		singleton="false">
		<property name="securityManager">
			<ref bean="securityManager"/>
		</property>
		<property name="userManager">
			<ref bean="userManager"/>
		</property>
		<property name="assetClassManager">
			<ref bean="assetClassManager"/>
		</property>
	</bean>
	<bean name="/jsp/fundcenter/strategies" class="com.lti.action.fundcenter.StrategiesAction"
		singleton="false">
		<property name="securityManager">
			<ref bean="securityManager"/>
		</property>
		<property name="userManager">
			<ref bean="userManager"/>
		</property>
	</bean>
</beans>
