/*
                                    Title: CSS classes for menu.
                                    Author: Rostislav Brizgunov, 2008

======================================= Classes Architecture ===============================================
.negeso_menu
  |
  +---li (different for TOP-level and others, may be for 2nd something special too)
  |     |
  |     +----li.item_over (simple menu item HOVER, me be different for each submenu-level)
  |     |
  |     +----li.item_selected (selected menu item. Style may be the same as HOVER-style. 
  |                            Also, hovering selected item is the same as for any other item.
  |                            .item_selected and .item_over - works together)
  |
  +----li.item_first (first items in list)
  |     |
  |     +----li.item_first_over     (HOVER for first items in list)
  |     |
  |     +----li.item_first_selected (selected first item in each sub-menu. May be different for TOP-level and others.
  |                                  .item_first_selected and .item_first_over - works together)
  |
  +----li.item_last (last items in list)
  |     |
  |     +----li.item_last_over     (HOVER for last items in list)
  |     |
  |     +----li.item_last_selected (selected last item in each sub-menu. May be different for TOP-level and others.
  |                                .item_last_selected and .item_last_over - works together)
  |
  +----li.item_single (single items in list)
        |
        +----li.item_single_over     (HOVER for single items in list)
        |
        +----li.item_single_selected (selected single item in each sub-menu. May be different for TOP-level and others.
                                    .item_single_selected and .item_single_over - works together)
============================================================================================================

Remember, that each CSS class, described upwards, may vary for top-level, second-level, etc.
*/

/*--------------------------------------------------- One deprecated class from past menu: begin */
.b-menu{	
	height: 43px;
	z-index:200;
}
/*--------------------------------------------------- One deprecated class from past menu: end */

/*=================================================== NEGESO MENU -- BEGIN ===================================================*/

.negeso_menu {	
	width: auto;
	float:right;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	z-index:200;
}

.negeso_menu li ul {	
	left: 0;
	top: 46px;
	margin: 0;
	padding: 0;
	z-index: 100;
	list-style: none;
	display: none;
}

.negeso_menu li ul li ul {
	left: 211px;
	top: 0;	
}

/*--------------------------------------------------- Middle item: begin ---------------------------------------------------*/

/*--------------------------------- Top level: begin ---------------------------------*/
.negeso_menu li {
	background: transparent url(/image/front/separator.png) bottom right no-repeat;		
	float: left;
	margin: 0;
	padding: 0 30px;
	position: relative;
	cursor: pointer;
	height: 43px;
	line-height: 43px;
	color: black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	}

.negeso_menu li.item_over,
.negeso_menu li.item_selected {
	background: transparent url(/image/front/separator.png) bottom right no-repeat;
	color: #FFF;
}
/*--------------------------------- Top level: end ---------------------------------*/

/*--------------------------------- Other levels: begin ---------------------------------*/
.negeso_menu li ul {	
position:absolute;
	background: #FFFFFF url(/image/front/menu_bg.jpg) bottom repeat;	
	text-align: left;
	border-right: 1px solid #000;	
	border-left: 1px solid #000;
	z-index:200;
}

.negeso_menu li ul li {
	background:none;
	padding: 0 12px 0 12px;	
	color:#FFF;	
	float: none;	
	height: 29px;
	line-height: 29px;
	color: black;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	
}

.negeso_menu li ul li.item_over,
.negeso_menu li ul li.item_selected  {	
background:none;
	text-decoration:none;
	color: white;		
}
/*--------------------------------- Other levels: end ---------------------------------*/

/*--------------------------------------------------- Middle item: end ---------------------------------------------------*/

/* Next adds (till end of this file) are special for Internet Explorer, because of it's don't understand "color: inherit;" 
   
   Correct solution in this case:
   .negeso_menu li a { color: inherit; text-decoration: none; }
   
   ...That's all. But IE 7- doesn't recognize "inherit". thus I'd used hardcode.
   
   Hardcoded for 5 levels :-(
   
*/
.negeso_menu li a,
.negeso_menu li.item_selected li a,
.negeso_menu li.item_over li a,
.negeso_menu li.item_selected li.item_selected li a,
.negeso_menu li.item_over li.item_over li a,
.negeso_menu li.item_selected li.item_selected li.item_selected li a,
.negeso_menu li.item_over li.item_over li.item_over li a,
.negeso_menu li.item_selected li.item_selected li.item_selected li.item_selected li a,
.negeso_menu li.item_over li.item_over li.item_over li.item_over li a {
	color: #ffffff;
	text-decoration: none;
	white-space:nowrap;
}

.negeso_menu li.item_selected a,
.negeso_menu li.item_over a,
.negeso_menu li.item_selected li.item_selected a,
.negeso_menu li.item_over li.item_over a,
.negeso_menu li.item_selected li.item_selected li.item_selected a,
.negeso_menu li.item_over li.item_over li.item_over a,
.negeso_menu li.item_selected li.item_selected li.item_selected li.item_selected a,
.negeso_menu li.item_over li.item_over li.item_over li.item_over a,
.negeso_menu li.item_selected li.item_selected li.item_selected li.item_selected li.item_selected a,
.negeso_menu li.item_over li.item_over li.item_over li.item_over li.item_over a {
	color: #d50366;
	text-decoration: none;
	white-space:nowrap;
}@charset "utf-8";
/* CSS Document */


/*--------------------------------- Second level menu: begin ------------------------*/

.menu-second-level{    
    width: 200px;
    color:#4A4A4C;
    font:13px Tahoma;        
    overflow:hidden;
    float:left;
    margin-bottom: 30px;
}

.second-level {
    width: 200px;
    margin: 0;
    padding: 5px 0 0 0;
    display: block;
    list-style: none;    
}

.second-level li{
    padding: 4px 12px 5px 18px;
    background: Transparent url(/image/front/bg_menu_12.png) 0px 5px no-repeat;    
}

.second-level li.item_over,
.second-level li.item_selected{    
    background-image: url(/image/front/bg_menu_l2_active.png);
}

.second-level li a{    
    color:#000;
    text-decoration:none;
}

.second-level li a:hover,
.second-level li.item_over a,
.second-level li.item_selected a,
.second-level li.item_last_over a,
.second-level li.item_last_selected a{    
    text-decoration:underline;
    color: #CC0066;    
}

/*--------------------------------- Second level menu: end --------------------------*/

/*createWeb*/
/* ======  Menu ====== */
/*First level menu start*/
ul.menu{
	width:1090px;
	float:left;
	display: block;
	list-style: none;
	margin:0;
	padding: 0;
	font:15px Verdana, Geneva, sans-serif;
	text-align:left;
}
ul.menu li {
	background:url(/image/front/point-grey.png) 0 0 no-repeat;
	display: block;
	position:relative;
	float:left;
	height:29px;
	margin: 0;
	padding:0;
	cursor: pointer;
	cursor: hand;
}
ul.menu li.stepPrev{
	background:url(/image/front/point-blue.png) 0 0 no-repeat;
	padding-right:20px;
}
ul.menu li.stepNext{
	background:url(/image/front/point-blue.png) top right no-repeat;
	float:right;
	text-align:right;
}
ul.menu li.item_selected, 
ul.menu li.item_over{
	background:url(/image/front/point-pink.png) 0 0 no-repeat;
}
ul.menu li.stepGrey{
	background:url(/image/front/point-grey.png) 0 0 no-repeat;
	cursor:default;
}
ul.menu li.stepNext{
	background-position:top right;
	text-align:right;
}
ul.menu li a{
	display: block;
	padding:3px 10px 0 0;
	color:#fff;
	text-decoration: none;	
}
ul.menu li.item_over a, 
ul.menu li.item_selected a{
	color:#fff;
	text-decoration: none;
}
ul.menu li a img{
	background:none;
	margin:1px 0 0 10px;
}
ul.menu li.item_over a img, 
ul.menu li.item_selected a img{
	background:url(/image/front/arrow.gif) 0 0 no-repeat;
}
ul.menu li.stepNext a{
	padding-right:38px;
}
ul.menu li.stepPrev a {
	padding-left:38px;
}
ul.menu li.stepPrev a img{
	background:none;
	position:absolute;
	left:-10px;
	top:0;
}
ul.menu li.stepNext a img{
	background:none;
	position:absolute;
	right:0;
	top:0;
}
ul.menu li.stepGrey a img{
	background:none;
}
ul.menu li.stepGrey a{
	cursor:default;
}

ul.menu li a span{
	display:block;
	float:left;
	padding:1px 18px 0 9px;
	font-weight:bold;
}
/*First level menu end*/

/*Second level menu start*/
ul.menuSecond{
	display: block;
	list-style: none;
	margin:0;
	padding:6px 0 10px 18px;
	font:12px Tahoma, Arial, Helvetica, sans-serif;
	text-align:left;
}
ul.menuSecond li {
	width:185px;
	margin:0;
	padding:4px 0 5px 0;
	cursor: pointer;
	cursor: hand;
	overflow:hidden;
}
ul.menuSecond li.item_selected, 
ul.menuSecond li.item_over{
}
ul.menuSecond li a {
	color:#000;
	text-decoration: none;	
}
ul.menuSecond li.item_over a, 
ul.menuSecond li.item_selected a{
	color:#ff9927;
	text-decoration: underline;
}
/*Second level menu end*/
/*--------------------createWeb end--------------------------*/