/*=========================== TAGS ============================*/

* {
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

body {
	background:#2a5333 url(../images/evergreenBkgd.gif) repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1em;
	color:#535353;
	min-width:981px;
	margin: 0px;
}

object { 
	vertical-align:top; 
	outline:none;
}

input, 
textarea, 
select { 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:1em; 
	vertical-align:middle; 
	font-weight:normal;
}

p { 
	margin:0; 
	padding:0;
}

img { 
	border:0; 
	vertical-align:top; 
	text-align:left;
}

/*========================== ALIGMENT =========================*/

.fleft { 
	float:left;
}

.fright { 
	float:right;
}

.clear { 
	clear:both;
}

.alignright { 
	text-align:right;
}

.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%; 
	overflow:hidden;
}

.container { 
	width:100%;
}

/*=========================== FORMS ===========================*/

#contacts-form {
	width:263px;
}
#contacts-form .form { 
	height:47px;
}
#contacts-form input {
	width:258px; 
	padding:3px 0 3px 3px; 
	background:#fff; 
	border:1px solid #e2e2e2; 
	vertical-align:top;	
	line-height:1.2em;
}
#contacts-form textarea { 
	width:258px; 
	height:167px; 
	overflow:auto;
	background:#fff; 
	border:1px solid #e2e2e2; 
	padding:3px 0 0 3px;
	margin-bottom:31px;
}
#contacts-form a {
	margin-left:14px;
	float:right;
}

/*========================== LISTS ============================*/

ul, 
ol { 
	list-style:none;
}

.list li{
	
	padding-bottom:8px;
	margin-bottom:8px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #8bac76;
}
.list li h4 {
	margin-bottom:3px;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
}
.list li p {
	margin-bottom:0;
	padding-top:10px;
}
.list li span {
	color:#f3a50d;
}
.list li span.phone {
	color:#9b9b9b;
}
.list li.last {
	background:none;
	border-bottom-style: none;
}

.list1 li {
	width:100%;
	overflow:hidden;
	vertical-align:top;
	padding:5px 0 29px 0;
	margin-bottom:28px;
	line-height:1.42em;
	background:url(../images/line-hor.gif) repeat-x left bottom;
}
.list1 li img {
	float:left;
	margin:-5px 17px 0 0;
} 
.list1 li h4 {
	margin-bottom:5px;
}
.list1 li p {
	margin-bottom:0;
}
.list1 li cite {
	font-style:normal;
}
.list1 li.last {
	background:none;
	margin-bottom:0;
}

.list2 {
	padding-bottom:8px;
}
.list2 li {
	color:#f3a50d;
	font-weight:bold;
	padding-bottom:18px;
}
.list2 li a {
	font-weight:normal;
}
.list2 li.last {
	margin-bottom:-18px;
}

/*========================== OTHER ============================*/

.img-indent { 
	padding-bottom:25px; 
}

.img-box1 { 
	width:100%; 
	overflow:hidden;
}

.img-box1 img { 
	float:left; 
	margin:0 20px 0 0;
}

p { 
	margin-bottom:18px;
	line-height:1.42em;
}

dl {
	margin-bottom:-15px;
	line-height:1.42em;
}
dl dt {
	color:#4e4e4e;
	font-weight:bold;
	margin-bottom:2px;
}
dl dd {
	margin-bottom:15px;
}

.phone { 
	float:right; 
	margin-right:90px;
}

/*================= TXT, LINKS, LINES, TITLES =================*/

a {
	color:#2A5333;
	outline:none;
}
a:hover {
	text-decoration:none;
}

h3 {
	font-size:16px;
	line-height:1.2em;
	color:#061339;
	border-bottom:1px solid #C2D4C1;
	margin-bottom:20px;
	padding-bottom:10px;
	margin-top: 0px;
	padding-top: 0px;
}
h4 {
	font-size:1em;
	color:#4e4e4e;
	margin-bottom:15px;
	line-height:1.42em;
	margin-top: 0px;
	padding-top: 0px;
}
h5 {
	font-size:1em;
	font-weight:normal;
	margin-bottom:15px;
	line-height:1.42em;
	margin-top: 0px;
	padding-top: 0px;
}

.twitter {
	width:216px;
	height:63px;
	background:url(../images/twitter.gif) no-repeat left top;
	position:relative;
}
.twitter a {
	display:block;
	background:url(../images/extra-bg.gif) no-repeat left top;
	width:154px;
	height:46px;
	position:absolute;
	right:0;
	top:5px;
	text-decoration:none;
}
.twitter a span {
	display:block;
	padding:9px 0 0 24px;
}
.twitter a em {
	font-size:.92em;
	color:#1baee5;
	font-style:normal;
}
.twitter a strong {
	color:#4e4e4e;
	display:block;
	margin-bottom:-2px;
	font-size:1.08em;
}
.twitter a:hover em {
	text-decoration:underline;
}

.link {
	font-weight:bold;
	color:#1baee5;
}
.link a {
	color:#1baee5;
}

.link1 { 
	display:block; 
	float:left;
	background:url(../images/button-bg.gif) no-repeat left top; 
	color:#fff; 
	text-decoration:none; 
	font-size:17px;
	line-height:1em;
	width:76px;
	height:30px;
	text-align:center;
}
.link1 span {
	display:block;
	padding:6px 0 0 0;
}
.link1:hover {
	color:#793801;
}

/*============================ BOXES ==========================*/

.featured-box {
	height:339px;
	overflow:hidden;
	border: 8px solid #FAFAFA;
	background-color: #FFFFFF;
	border-collapse:collapse;
}
.featured-box .col-1 {
	width:618px;
	height: 339px;
	overflow: hidden;
}
.featured-box .col-2 {
	height: 339px;
	overflow: hidden;
}
#decide, #customize, #manage, #getStartedNow {
	display: block;
	cursor: pointer;
}



/*------*/

.box {
	background:#fff;
	border: 1px solid #617962;
}
.box .border-top {
	background:url(../images/border.gif) repeat-x left top;
}
.box .border-right {
	background:url(../images/border.gif) repeat-y right top;
}
.box .border-bot {
	background:url(../images/border.gif) repeat-x left bottom;
}
.box .border-left {
	background:url(../images/border-left.gif) repeat-y left top;
}
.box .left-top-corner {
	background:url(../images/corner.gif) no-repeat left top;
}
.box .left-bot-corner {
	background:url(../images/corner.gif) no-repeat left bottom;
	width:100%;
}
.box .inner { 
	padding:27px 18px 37px 29px;
}

/*========================== HEADER ===========================*/



#header .top {
	width:100%;
	overflow:hidden;
}
#header .searchbar {
	background-image: url(../images/evr_searchbkgd.gif);
	background-repeat: repeat-x;
	height: 55px;

	background-color: #527354;
	margin-top: 5px;
	font-size: 9px;
	color: #FCEA6C;
}




#header .mast {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C2D4C1;
	height: 83px;
}
#header .navbar {
	background-color: #F5F5F5;
	background-image: url(../images/navbarBkgd.gif);
	background-repeat: repeat-x;
	height: 34px;
}
#header .top .fleft {
	padding-top:27px;
}
#header .top .fright {
	padding-top:35px;
}
#header .top .fright ul li {
	float:left;
	font-size:18px;
	line-height:1.2em;
	margin-left:1px;
}
#header .top .fright ul li a {
	text-decoration:none;
	display:block;
	text-align:center;
	color:#3d3d3d;
	width:100px;
	height:37px;
	background:url(../images/nav-bg.gif) no-repeat center 1px;
}
#header .top .fright ul li a span {
	display:block;
	padding-top:6px;
}
#header .top .fright ul li a:hover,
#header .top .fright ul li a.act {
	background:url(../images/nav-act.gif) no-repeat left top;
	color:#fff;
}

/*========================= CONTENT ===========================*/

#content {
	padding-bottom:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #527449;
}
#content .indent {
	padding-bottom:9px;
}

/*========================= FOOTER ============================*/

#footer .indent {
	padding:16px 28px 0 29px;
}
#footer p {
	color:#858484;
/*	float:left;  */
}
#footer p strong {
	color:#4e4e4e;
}
#footer p span {
	color:#c6c6c6;
}
#footer p a {
	text-decoration:none;
	color:#858484;
}
#footer p a:hover {
	text-decoration:underline;
}
#footer ul {
	float:right;
}
#footer ul li {
	float:left;
	padding-right:13px;
	margin-right:10px;
	background:url(../images/divider.gif) no-repeat right 7px;
}
#footer ul li.last {
	background:none;
	padding-right:0;
	margin-right:0;
}
#footer ul li a {
	color:#858484;
	text-decoration:none;
}
#footer ul li a:hover,
#footer ul li a.act {
	text-decoration:underline;
}
#footer .footerColumn {
	float: left;
	width: 142px;
	display: block;
	padding: 0px;
	margin-top: 10px;
	font-size: 11px;
	visibility: visible;
	margin-left: 20px;
}
#footer .footerColumn a {
	color: #99B181;
	text-decoration: none;
	display: block;
	margin-bottom: 3px;
}
#footer .footerColumn a:hover {
	color: #FAFFD9;
}
.footerColumnHeading {
	font-size: 12px;
	color: #B4D377!important;
	font-weight: bold;
	padding-bottom: 3px;
}

/*========================= NEW STYLES ED ============================*/
.middlebar {
	background-image: url(../images/middlebar.gif);
	background-repeat: repeat-x;
	height: 41px;
	margin-top: 7px;
	border: 1px solid #224422;
	margin-bottom: 7px;
}
#logoRotation {
	margin-top: 30px;
}
#logoRotation div {
	height: 200px;
}
.clearfloat {
	clear: both;
	height: 0px;
	width: 100%;
}
#navbar a, .navbar a{
	font-size: 11px;
	text-decoration: none;
	margin: 9px 10px 5px;
	display: block;
	float: left;
	color: #192045;
	font-weight: bold;
}
#navbar a:hover, .navbar a:hover {
	color: #237AD6;
}
#navbar .active {
	color: #3D7791;
}
#navbar, .navbar {
	padding-left: 15px;
}
.searchbar  .searchFields {
	float: right;
	margin-right: 30px;
	margin-top: 15px;
}
.searchbar span {
	margin-right: 6px;
	margin-left: 8px;
	line-height: 16px;
}
.searchbar input {
	height: 16px;
	width: 110px;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid #C3C3C3;
	margin: 0px;
}
.submitSearch{
	display: inline;
	cursor: pointer;
	background-image:url(/LTISystem/jsp/template/ed/images/searchButton.gif);
	background-repeat: no-repeat;
	width:19px;
	height:19px;
}
input.submitSearchTop{
	display: inline;
	cursor: pointer;
	background-image:url(/LTISystem/jsp/template/ed/images/searchButton.gif);
	background-repeat: no-repeat;
	width:19px;
	height:19px;
	
}
#submitSearchBottom{
	display: inline;
	cursor: pointer;
	background-image:url(/LTISystem/jsp/template/ed/images/searchButton.gif);
	background-repeat: no-repeat;
	width:19px;
	height:19px;
}
.regSignin {
	float: right;
	margin-right: 30px;
	margin-top: 13px;
	cursor: pointer;
}
.middleLinks {
}
.middleLinks a {
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: left 2px;
	display: block;
	float: left;
	height: 19px;
	margin-right: 20px;
	padding-left: 20px;
	margin-left: 20px;
	color: #E6FF8D;
	font-size: 14px;
	text-decoration: none;
	margin-top: 11px;
}
.middleLinks  #searchForPlan {
	display: block;
	float: right;
	height: 19px;
	margin-right: 20px;
	margin-left: 20px;
	color: #E6FF8D;
	font-size: 14px;
	text-decoration: none;
	margin-top: 9px;
}
.middleLinks   input {
	height: 18px;
	width: 280px;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #C3C3C3;
	margin-left: 10px;
	margin-top: 0px;
}
.moreInCategory {
	font-size: 11px;
	margin-top: 16px;
	display: block;
}
.borderGreen {
	border: 1px solid #1B461C;
}

.content_tier1, #content_tier1 {
	border: 8px solid #FAFAFA;
	background-color: #FFFFFF;
	border-collapse:collapse;
	color: #333333;
	padding-top: 35px;
	padding-bottom: 30px;
	line-height: 1.3em;
	padding-right: 10px;
	padding-left: 0px;
}
#content_tier1 .columnLeft {
	float: left;
	width: 680px;
	padding-right: 20px;
}



#content_tier1 .columnRight {
	float: left;
	width: 220px;
	padding-left: 10px;
}
.sidebar_box {
	padding: 16px 5px 16px 20px;
	margin-bottom: 20px;
	border: 1px solid #97AB9B;
}
.sidebar_box_noPadding {
	margin-bottom: 20px;
	border: 1px solid #97AB9B;
}
.sidebar_box_content {
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 12px;
	padding-left: 12px;
	font-size: 11px;
	line-height: 1.2em;
}
.sidebar_box_content p {
	line-height: 1.2em;
}
.sidebar_box_heading_green {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	color: #FFFFFF;
	background-color: #608569;
	font-size: 11px;
	font-weight: bold;
	background-image: url(../images/sidebar_box_heading.gif);
	background-repeat: repeat-x;
	background-position: center;
	margin-bottom: 15px;
}

.roundHeadingBlue {
	background-image: url(../images/sidebar_box_heading_blue.gif);
	background-repeat: repeat-x;
	background-position: center -25px;
}
.sidebar_box_heading_white {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 15px;
}



.sidebar_box_heading_blue {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	color: #FFFFFF;
	background-color: #3B788F;
	font-size: 11px;
	font-weight: bold;
	background-image: url(../images/sidebar_box_heading_blue.gif);
	background-repeat: repeat-x;
	background-position: center;
	margin-bottom: 15px;
}
.content_tier1 li {
	list-style-type: square;
	margin-left: 15px;
	color: #3B4446;
	line-height: 1.4em;
}
.content_tier1 strong {
	color: #1E2D3B;
}
.content_tier1 a strong {
	color: #2A5333;
}
.content_tier1 h1 {
	font-size: 24px;
	margin-bottom: 18px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 0px;
	color: #19384C;
	font-weight: normal;
}
.content_tier1 h2 {
	font-size: 16px;
	margin-bottom: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
}
.content_tier1 h4 {
	font-size: 13px;
	margin-bottom: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
}
.content_tier1 h5 {
	font-size: 12px;
	margin-bottom: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
}
.regTable {
	font-size: 10px;
	color: #FFFFFF;
}
.regTable input {
	background-image: none;
	height: 16px;
	margin-bottom: 5px;
	background-color: #FEFEFE;
	width: 200px;
}
.regTable a {
	color: #FFFFCC;
}
.greenBkgd {
	background-color: #2A5333;
}
.roundHeadingGreen {
	background-image: url(../images/sidebar_box_heading.gif);
	background-repeat: repeat-x;
	background-position: center -25px;
}
.borderBottom_1px {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
}
#content_tier1 .columnRight p {
	font-size: 11px;
	line-height: 1.4em;
	color: #3B4446;
}
.dividerTop {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #566E56;
	padding-top: 20px;
	padding-bottom: 20px;
}


#content_tier1 .columnRight h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1em;
	color: #59715A;
	padding-top: 22px;
}
#content_tier1 .columnRight h2 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1em;
	color: #59715A;
	padding-top: 16px;
}
#content_tier1 .columnRight h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1em;
	color: #59715A;
	padding-top: 16px;
}
#content_tier1 .columnRight h4 {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 4px;
	line-height: 1em;
	color: #59715A;
	padding-top: 16px;
}
#content_tier1 .columnRight h5 {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 4px;
	line-height: 1em;
	color: #59715A;
	padding-top: 16px;
}
.slider_tick td {
	font-size: 9px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
	text-align: center;
	vertical-align: middle;
}
.slider_num {
	clear: both;
	height: 10px;
	font-size: 9px;
}
.datereadout {
	position: absolute;
	background-image: url(../images/datereadout.png);
	width: 100px;
	background-repeat: no-repeat;
	background-position: center 0px;
	text-align: center;
	font-size: 9px;
	color: #FFFFFF;
	padding-top: 3px;
	height: 30px;
}
#slider1 {
	margin-top: 40px;
}
.sliderContainer {
	padding-right: 30px;
	padding-left: 30px;
}
#datereadout2 {
}
#datereadout1 {
}
.readoutContainer {
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.readoutContainer input {
	font-size: 10px;
	color: #666666;
	width: 100px;
	border: 1px solid #49AD0F;
	text-align: center;
}
.readoutContainer td {
	font-size: 9px;
}
.readoutContainer table {
	float: left;
}
.datesliderContainer {
	border: 1px solid #999999;
	padding-top: 15px;
	background-color: #FBFFF7;
	padding-bottom: 20px;
}
.dateSliderYear {
	padding-right: 16px;
	font-size: 22px;
	font-weight: normal;
	color: #264F2D;
	float: left;
	padding-top: 18px;
}
.guidepostItem {
	float: left;
	width: 32%;
	background-position: center -15px;
	margin-right: 8px;
	height: 100px;
	cursor: pointer;
	border: 2px solid #7EAB8B;
}
.guidepostIEFIX {
	float: left;
	cursor: pointer;
}
#guidePost {
	height: 108px;
	display: block;
}
#guidepost_manage {
	margin-right: 0px;
	background-image: url(../images/guidePost_manage.png);
	width: 298px;
	display: block;
}
#guidepost_decide {
	background-image: url(../images/guidePost_decide.png);
	width: 298px;
	display: block;
}
#guidepost_customize {
	background-image: url(../images/guidePost_customize.png);
	width: 298px;
	display: block;
}
.guidepostInnerBorder {
	border: 2px solid #54a136;
	cursor: pointer;
	height: 98px;
}
.styleSelectLabel {
	font-size: 10px;
	display: block;
	float: left;
	margin-right: 6px;
	padding-top: 3px;
}
/* */
.regSignin  a {
	margin-right: 5px;
	margin-top: 20px;
	font-size: 13px;
	text-decoration: none;
	color: #fff;
}

/* start submenu */
#submenu {
	position: relative;
	height: 28px;	
    background: #F9B7FF;
    background: #CFECEC;
}

#submenu ul {
	z-index: 999999;
	position: absolute;
    margin:0; padding: 0;
    list-style:none;
    left:0;
	//right: 0; 
	bottom: 4px !important; bottom: 5px;
	font: bold 13px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;	
}
#submenu li {
   display:inline;
   margin:0; padding:0;
   padding: 0 0 8px 12px;
}

#submenu a span {
   color: #000000;
   text-decoration: none
}

#submenu a:hover span {
	color:#0B3B39;
    text-decoration: none
}

#submenu #vf_current a {
   background-position:0% -42px;
   color: #000000;
   text-decoration: none
}
#submenu #vf_current a span {
   background-position:100% -42px;
   background: url(tabhover.gif) repeat-x right top;
   color: #000000;
   text-decoration: none
}
.button_edit {
	background:url('/LTISystem/jsp/f401k/images/edit.jpg');
	border:0px;
	width:18px;
	height:18px;
	cursor:pointer;
}
/*========================== feedburner ============================*/

/*========================== feedburner end============================*/
.show_text {border:0px solid #fff;background:#fff;width:98%}  
.edit_text {border:1px solid #369;background:#fff;;width:98%}  
.button_new {background:url('jsp/f401k/images/add.jpg');border:0px;width:18px;height:18px;cursor:pointer}
.button_edit {background:url('jsp/f401k/images/edit.jpg');border:0px;width:18px;height:18px;cursor:pointer}
.button_remove {background:url(jsp/f401k/images/remove.jpg);border:0px;height:18px;cursor:pointer}
#process_div table{
	color:blue;
}




#faqs { border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; padding: 1px 0; }
#faqs .tab { padding: 7px 160px 9px 36px; font-size: 11px; line-height: 18px; border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2; margin: 2px 0; background: #fafafa url(/LTISystem/jsp/template/ed/images/faq_c.png) 0px 9px no-repeat; }
#faqs .tab .question,
#faqs .tab .question * { cursor: pointer; }
#faqs .tab .answer { display: none; }
#faqs .tab.selected { padding: 0; background: #fff url(/LTISystem/jsp/template/ed/images/faq_s.png) 0px 9px no-repeat; }
#faqs .tab.selected .inner { padding: 7px 159px 9px 35px; border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; }
#faqs .tab.selected .answer { display: block; }
#faqs .tab.selected a { color: #363636; }
#faqs .tab .question { font-weight: bold; }

/*========================== Free widget ============================*/
.for_developers_button {
   background: url("/LTISystem/jsp/images/widget.jpg") no-repeat scroll 0 4px transparent;
   border-top: 4px solid #CBD1D8;
    color: #024999 !important;
    display: inline;
    float: left;
    font-weight: 700;
    height: 80px;
    margin-left: 8px;
    margin-top: 10px;
    padding-left: 8px;
    padding-top: 28px;
    text-decoration: none !important;
    width: 186px;
}
/*========================== Free widget ============================*/
/*========================== mp_left_div ============================*/
.etf_extra {
	color: #777777;
	background: none repeat scroll 0 0 #EBFEED;
}

.mini_category {
	clear: both;
	margin-bottom: 25px;
}

.red_title_bk {
	border-bottom: 2px solid #3D843D;
	color: #000000;
	font-size: 1.6em;
	font-weight: 500;
	padding-top: 5px;
	width: 230px;
	margin-bottom: 10px;
	padding-bottom: 2px;
}

.red_title_bk span {
	font-size: 13px;
	cursor: default;
	font-weight: bold;
}

.etf_extra_content {
	float: left;
	padding: 10px 0 0;
	width: 100%;
}

.etf_extra .other {
	margin-top: 5px;
}
.starimg img{
	width: 14px;
}
a.lead{
  color:#FFFFFF;
}
/*========================== mp_left_div ============================*/

.various_nav {
    background: none repeat scroll 0 0 #EEF2F5;
	border-right: 1px solid #CECFD0;
    float: left;
    width: 142px;
    margin-bottom: 20px;
}
.various_nav_title {
    color: #2C2C2C !important;
    cursor: default !important;
    font-size: 14px !important;
    font-weight: 700;
    text-transform: uppercase;
}
.various_nav.app_categories li a {
    color: #024999 !important;
}
.various_nav ul li {
    clear: both;
	float: left;
    list-style-type: none;
    width: 123px;
}
.various_nav ul li a, .various_nav ul li span {
    clear: both;
    color: #024999;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 12px;
    line-height: 1.2em;
    text-decoration: none !important;
}
.various_nav ul {
    clear: both;
    float: left;
    font-size: 1.1em;
    width: 134px;
}
.various_nav.app_categories .selected {
    background: url("http://static.seekingalpha.com/images/dashboard/title_pointer.gif") no-repeat scroll 1px 6px transparent;
    color: #000000 !important;
    cursor: default;
    padding: 4px 3px 4px 12px !important;
    text-decoration: none;
}
.various_nav.app_categories li.selected a {
    color: #000000 !important;
}

.mid_title{
	margin-bottom: 5px;
    margin-top: 10px;
}
.tablesorter tbody{
    background-color: #FFFFFF;
}