<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/jquery_UI/moss/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" />



<script src="js/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/logos.js" type="text/javascript"></script>

<script src="js/maxheight.js" type="text/javascript"></script>
<script src="js/cufon/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon/cufon-replace.js" type="text/javascript"></script>
<script src="js/cufon/Franklin_Gothic_Medium_Cond_400.font.js" type="text/javascript"></script>

<script>
	$(document).ready(function() {
		logoRotator();
		alignHeight();
		
		
		if($.browser.msie){
		 	ieInputFix();
		}
		
	});
	
	
	function ieInputFix() {
		$('input').css("margin-top","-1px");
	}
	
 </script>


</head>
<body id="page1">
<div id="main">
  <!-- HEADER -->
  <div id="header">
    <div class="top">
	 
		 
	 	<div class="searchbar">
	 		<div class="regSignin"><img src="images/regSignin.png" alt="" width="154" height="24" /></div>
	 		<div class="searchFields"><span>Search Site</span>
	 					<input type="text" name="searchSite" id="searchSite" />
	 						<div class="submitSearch"><img src="images/searchButton.gif" alt="" width="19" height="19" /></div>
 						<span>Stock/Fund</span> 
	 					<input type="text" name="stockFund" id="stockFund" />
	 					<div class="submitSearch"><img src="images/searchButton.gif" alt="" width="19" height="19" /></div>
	 					<span>Plan Search</span> 
	 					<input type="text" name="PlanSearch" id="PlanSearch" />
	 					<div class="submitSearch"><img src="images/searchButton.gif" alt="" width="19" height="19" /></div>
 				</div>
					
					
					
						<div class="clearfloat"></div>
			</div>
      <div class="mast"><a href="index.html"><img src="images/mast.gif" alt="" width="891" height="80" /></a></div>
		<div class="navbar" id="navbar">
		
		
			
				<a href="index.html" class="active">HOME</a>
				<a href="secondary.html">RETIREMENT PLANS</a>
				<a href="secondary.html">TAXABLE/SELF-DIRECTED</a>
				<a href="secondary.html">MY PORTFOLIOS</a>
				<a href="secondary.html">STRATEGIES</a>
				<a href="secondary.html">NEWS/ARTICLES</a></div>
    </div>
  </div>
  
  <div class="borderGreen">
  	<div class="featured-box">
  		<div class="col-1"><img src="images/header-img.jpg" alt=""   /></div>
  			<div class="col-2">          	
  				<div id="decide"><a href="secondary.html"><img src="images/decide.gif" alt="" width="341" height="99" /></a></div>
				<div class="customize"><a href="secondary.html"><img src="images/customize.gif" alt="" width="341" height="75" /></a></div>
				<div id="manage"><a href="secondary.html"><img src="images/manage.gif" alt="" width="341" height="87" /></a></div>
				<div id="getStartedNow"><a href="secondary.html"><img src="images/getStarted.gif" alt="" width="341" height="79" /></a></div>
			</div>
				<div class="clearfloat"> </div>
  		</div>
  	</div>
  <!-- CONTENT -->
  <div id="content">
    <div class=" middlebar">
	  <div class="middleLinks" id="middleLinks">
			<a href="secondary.html"> Why Evergreen?</a>
			<a href="secondary.html"> Button With Text</a>
			<a href="secondary.html"> Button With Text</a>
			<div id="searchForPlan">Search For A Plan<span class="searchFields">
				<input type="text" name="searchPlanInput" id="searchPlanInput" />
			</span>
				<div class="submitSearch"><img src="images/searchButton.gif" alt="" width="19" height="19" /></div>
				<span class="searchFields">				</span> </div>
	 </div>
	 
	 </div>
    
      <div class="col-1 box maxheight">

        	<div class="inner">
        		<h3>Time Proven Strategies</h3>
  				<ul class="list">
  					<li>
  						<h4><strong>Strategic Asset Allocation:</strong> Static
           							asset allocation based on retirement ages and risk
						tolerance</h4>
     				</li>
  				</ul>
  				<ul class="list">
  					<li>
  						<h4><strong>Tactical Asset Allocation:</strong> Major asset classes
						momentum driven</h4>
					</li>
				</ul>
  				<ul class="list">
  					<li>
  						<h4><strong>Guru (Smart Money) Directed Asset Allocation:</strong> following
						great fund managers' asset allocation decisions</h4>
					</li>
  					<li class="">
  						<h4><strong>Optimized Asset Allocation:</strong> Efficient frontier
						optimized</h4>
					</li>
  				</ul>
         	<a href="secondary.html" class="moreInCategory">More Info on Evergreen Strategies
         	»</a></div>
     	</div>
      <div class="col-2  box maxheight">
        
          
            
            
            
            
            
         <div class="inner">
           	<h3>Taxable/Self-Directed Plans</h3>
     			<ul class="list">
     				<li>
     					<h4><strong>Brokerage No Load No Transaction Fee Mutual Fund </strong></h4>
     				</li>
     				<li>
     					<h4><strong>ETF Plans </strong></h4>
  					</li>
     				<li>
     					<h4><strong>Variable Annuity and VUL Plans</strong></h4>
     				</li>
     				<li>
     					<h4><strong>College Savings 529 Plans </strong></h4>
  					</li>
  				</ul>
				<a href="secondary.html" class="moreInCategory">More Info »</a>
				<div  class="logoRotation" id="logoRotation">
					<h3 id="logoTitleText">Taxable/Self-Directed Plans</h3>
					<div class="logoRotator"></div>
				</div>
         </div>
      </div>
      <div class="col-3 box maxheight">
        
          
            
            
            
            
            
         <div class="inner">
           	<h3>News &amp; Announcements</h3>
     			<ul class="list">
					<li>
						<h4><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong><br />
						<a href="secondary.html">More »</a></h4>
					</li>
     				<li>
						<h4><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong><br />
							<a href="secondary.html">More »</a></h4>
  					</li>
     				<li>
						<h4><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong><br />
							<a href="secondary.html">More »</a></h4>
  					</li>
     				<li>
						<h4><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong><br />
							<a href="secondary.html">More »</a></h4>
  					</li>
  				</ul>
  				<a href="secondary.html" class="moreInCategory">More News &amp; Announcements »</a></div>
      </div>
		<div class="clearfloat"></div>
  </div>
  <!-- FOOTER -->
  <div id="footer">
  	<div class="footerColumn">
  		<a href="secondary.html" class="footerColumnHeading">Company Info</a>
		<a href="secondary.html">About Us</a>
		<a href="secondary.html">News and Press</a>
		<a href="secondary.html">TV and Radio Apearances</a>
		<a href="secondary.html">Our Services</a>
		<a href="secondary.html">Affiliate Program</a>
		<a href="secondary.html">Invite a Friend</a>
		<a href="secondary.html">Contact Us</a>
  	</div>
	
	
  	<div class="footerColumn">
  		<a href="secondary.html" class="footerColumnHeading">Asset Alocation</a>
		<a href="secondary.html">ETF</a>
		<a href="secondary.html">Index Funds</a>
		<a href="secondary.html">Vanguard Funds</a>
		<a href="secondary.html">DFA</a></div>	
	
	<div class="footerColumn">
  		<a href="secondary.html" class="footerColumnHeading">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum Dolor Con</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
  	</div>	
	
	<div class="footerColumn">
  		<a href="secondary.html" class="footerColumnHeading">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum Dolor Con</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
  	</div>	
	
	<div class="footerColumn">
  		<a href="secondary.html" class="footerColumnHeading">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum Dolor Con</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
  	</div>	
	
	<div class="footerColumn">
  		<a href="secondary.html" class="footerColumnHeading">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum Dolor</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum Dolor Con</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
		<a href="secondary.html">Lorem Ipsum</a>
  	</div>	
	
	<div class="clearfloat"></div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
